{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/base.css', 100) %}
        {# do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css', 100) #}
        {% do assets.addCss('https://use.fontawesome.com/releases/v5.0.10/css/all.css', 95) %}
        {% do assets.addCss('theme://css/custom.css', 90) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

          // Get all "navbar-burger" elements
          var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
              $el.addEventListener('click', function () {

                // Get the target from the "data-target" attribute
                var target = $el.dataset.target;
                var $target = document.getElementById(target);

                // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                $el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
          }
        });
    </script>
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="home blog">

{% block header %}
    {% include 'partials/navigation.html.twig' %}
{% endblock %}

{% block body %}
    <div class="columns is-variable is-8">
        <div id="body" class="column">
            <main id="main" role="main">
                {% block content %}{% endblock %}
            </main>
        </div>
        <div class="column is-one-quarter">
            {% include 'partials/sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="wrapper padding">
            {{ 'SITE.COPYRIGHT'|t("now"|date('Y')) }} | <a href="http://getgrav.org/">Powered by Grav CMS</a>
            {{ config.site.hcard }}
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
